:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
}

.pokemon-card{
  background-image: linear-gradient(rgb(208, 234, 247), rgb(243, 245, 219));
  cursor: pointer;
  border: 1.5px solid black;
  border-radius: 10px;
}
.pokemon-card:hover {
  background-color: rgb(171, 169, 169);
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.reset-wrapper{
  grid-column-start: 1;
  grid-column-end: end;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-size: 3.2em;
  line-height: 0.1;
}

button {
  border-radius: 8px;
  border: 1.5px solid black;
  color: white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #616060;
  color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.score-container {
  display: flex;
  justify-content: space-evenly	;
  font-size: 1.5rem;
}
.gameover {
  font-size: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-image: linear-gradient(rgb(163, 191, 247), rgb(246, 246, 164));
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #282727;
  }
}